.weather-item {
    padding: 1em;
    display: flex;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,.1);
}

.weather-item .actions {
    margin-left: auto;
    opacity: 0;
    transition: all .2s;
}

.weather-item:hover .actions {
    opacity: 1;
}

.temperature{
    padding-left: 15px;
}