<header>
    <h1>{{title}}</h1>
</header>
<main>
    <form class="weather-form" (submit)="create($event, titleInput)">
        <input type="text" placeholder="Ваш город?" #titleInput>
        <button type="submit">Найти</button>
    </form>

    <section class="weather-list" *ngIf="cityWeather.length">
        <div class="weather-item" *ngFor="let item of cityWeather">
            <span>{{item.title}}</span>
            <span>{{item.temperature}}</span>
            <div class="actions">
                <button class="delete icon" (click)="delete(item)">
                    <i class="material-icons">delete</i>
                </button>
            </div>

        </div>
    </section>
</main>